/*Container de Todo el producto entero*/
.ItemListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    min-height: 500px;
    margin-left: 5%;
    margin-bottom: 5%;

    /*border: 1px solid red;*/
}

.dataProduct-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 40px 10px;
    width: 25%; /*30%;*/
    /*min-height: 500px;*/
    border-radius: 6px;
    border-top: 2px solid var(--secondaryColor); /*Verde*/
    border-left: 2px solid var(--secondaryColor); /*Verde*/
    box-shadow: 6px 6px 8px #888888;
}
