.ProductDetail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 90%;
    padding-top: 10px;
    /*border: 2px solid green;*/
}

.Detail-info-Container {
    /*width: 50%;*/
    width: 45%;
    height: auto;
    border: 2px solid var(--secondaryColor); /*Verde*/
    box-shadow: 4px 4px 8px #888888;
    border-bottom: 0;
    border-radius: 6px;
}

/*
.Detail-info {
    padding: 10px 0;
}
*/

.Detail-info h3 {
    display: inline-block;
    text-align: left;
    color: var(--primaryColor); /*Azul*/
    width: 30%;
    padding-top: 20px;
    padding-left: 10px;
}
.Detail-info h4 {
    display: inline-block;
    text-align: left;
    color: var(--secondaryColor); /*Verde*/
    width: 60%;
    padding-top: 10px;
}

.buttons-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 28px 0;
}

.button-ComeBack,
.button-AddCart {
    font-size: 18px;
    font-weight: 600;
    border: 2px solid var(--primaryColor); /*Azul*/
    border-radius: 6px;
    box-shadow: 4px 4px 8px #888888;
    padding: 6px 26px;
    /*margin-top: 20px;*/
}

.itemCountDetailContainer {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.button-ComeBack:hover,
.button-AddCart:hover {
    color: var(--fontColorGeneral); /*Blanco*/
    background-color: var(--primaryColor); /*Azul*/
}

.Detail-photo-Container {
    /*width: 40%;*/
    width: 35%;
    /*height: 100%;*/
    height: auto;
    /*margin-bottom: 20px;*/
    box-shadow: 4px 4px 8px #888888;
    border: 2px solid var(--primaryColor); /*Verde*/
    border-radius: 6px;
}

.Detail-img {
    width: 80%;
    height: 100%;
}
