/*Container de Todo el producto entero*/
.ItemProductContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    min-height: 350px;
    margin-left: 5%;
    margin-bottom: 5%;

    /*border: 1px solid red;*/
}

.dataProduct-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 40px 10px;
    width: 20%;
    min-height: 350px;
    box-shadow: 6px 6px 8px #888888;
}
