#navegation-Bar {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

#nav-Container {
    background-color: var(--primaryColor); /*Azul*/
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    border-bottom: 3px solid #000000;
}

.nav-Menu {
    margin-left: auto;
}

.nav-Items {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: var(--fontColorGeneral);
    font-family: "Roboto";
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
}

.nav-Items:hover {
    background-color: var(--secondaryColor); /*Verde*/
    color: var(--fontColorGeneral);
}

@media (max-width: 992px) {
    .nav-Items {
        padding: 10px 0;
    }
}
