.ProductDetail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 80%;
    padding-top: 10px;
    /*border: 2px solid green;*/
}

.Detail-info-Container {
    width: 50%;
    margin-bottom: 20px;
    /*background-color: aqua;*/
    border: 2px solid var(--secondaryColor); /*Verde*/
    box-shadow: 4px 4px 8px #888888;
}

.Detail-info h3 {
    display: inline-block;
    text-align: left;
    color: var(--primaryColor); /*Azul*/
    width: 30%;
    padding-top: 20px;
    padding-left: 10px;
}
.Detail-info h4 {
    display: inline-block;
    text-align: left;
    color: var(--secondaryColor); /*Verde*/
    width: 60%;
    padding-top: 10px;
}

.button-ComeBack {
    font-size: 18px;
    font-weight: 600;
    border: 2px solid var(--primaryColor); /*Azul*/
    border-radius: 6px;
    box-shadow: 4px 4px 8px #888888;
    padding: 6px 26px;
    margin-top: 20px;
}

.button-ComeBack:hover {
    color: var(--fontColorGeneral); /*Blanco*/
    background-color: var(--primaryColor); /*Azul*/
}

.Detail-photo-Container {
    width: 40%;
    margin-bottom: 20px;
    box-shadow: 4px 4px 8px #888888;
    border: 2px solid var(--primaryColor); /*Verde*/
}

.Detail-img {
    width: 80%;
    height: 100%;
}
