* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables*/
:root {
    --primaryColor: #4c98df;
    --secondaryColor: #5bb669;
    --fontColorGeneral: #ffffff;
    --fontColorBlack: #000000;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

h1 {
    padding-top: 10px;
    color: var(--primaryColor); /*Azul*/
    font-family: "Roboto";
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
