* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables*/
:root {
    --primaryColor: #4c98df;
    --secondaryColor: #5bb669;
    --fontColorGeneral: #ffffff;
    --fontColorBlack: #000000;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

h1 {
    padding-top: 10px;
    color: var(--primaryColor); /*Azul*/
    font-family: "Roboto";
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

/* ------ flecha para volver arriba ------ */
.back-to-top {
    position: fixed;
    display: inline;
    width: 54px;
    height: 54px;
    border-radius: 26px;
    right: 15px;
    bottom: 30px;
    background: var(--secondaryColor);
    transition: display 0.5s ease-in-out;
    z-index: 994;
}

.back-to-top > i {
    font-size: 30px;
    position: absolute;
    /*top: 6px;*/
    left: 7px;
}

.arrow-up {
    height: 40px;
}

/*********************************
********** MEDIA QUERYS **********
*********************************/
@media screen and (max-width: 1200px) {
    /** ITEM-LIST **/
    .dataProduct-container {
        width: 40%;
    }

    /** PRODUCT-DETAIL **/
    .Detail-photo-Container {
        width: 40%;
    }
}

@media screen and (max-width: 992px) {
    /* ------ flecha para volver arriba ------ */
    .back-to-top {
        width: 40px;
        height: 40px;
    }

    .back-to-top > i {
        font-size: 22px;
        position: absolute;
        left: 6px;
    }

    .arrow-up {
        height: 30px;
    }

    /** ITEM-LIST **/
    .dataProduct-container {
        width: 40%;
    }

    /** PRODUCT-DETAIL **/

    .Detail-info-Container {
        width: 65%;
        margin-bottom: 20px;
    }

    .Detail-photo-Container {
        width: 65%;
        margin-top: 20px;
    }

    /* Botón "Volver"*/
    .button-ComeBack,
    .button-AddCart {
        /*margin-top: 30px;*/
        width: 40%;
    }

    /** CART-DETAIL **/

    /*** La parte donde se va viendo el subtotal de la compra ***/
    .detailContainer {
        width: 60%;
    }

    /*La parte del detalle*/
    .OrderSummaryContainer {
        width: 35%;
    }

    /*--------------*/

    /*Contenedor de la Orden de Compra*/
    .OrderContainer {
        height: 60%;
    }

    /*Contenedor de los botones*/
    .btnBuyContainer {
        height: 40%;
    }

    /*Botones de Quitar todos los productos y Comprar*/
    .btnClear,
    .btnBuy {
        width: 80%;

        margin: 10px 0;
    }

    /* precios */
    .prices > h3 {
        font-size: 24px;
    }
    .prices > h4 {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
    /** ITEM-LIST **/
    .dataProduct-container {
        width: 45%;
    }

    /** PRODUCT-DETAIL **/

    /*Engloba todos los campos de la descripción*/
    .Detail-Fields {
        height: 60%;
    }

    .Detail-info h4 {
        font-size: 20px;
    }

    .Detail-info p {
        font-size: 18px;
    }

    /*Container de los botones "Volver" y "Agregar al carrito"*/
    .buttons-detail {
        margin-bottom: 50px;
    }

    /* Botones "Volver" y "Agregar al carrito"*/
    .button-ComeBack,
    .button-AddCart {
        /*margin-top: 30px;*/
        /*width: 55%;*/
        width: 60%;
        padding: 4px 0;
    }
    .button-AddCart {
        margin-top: 20px;
    }

    /** CART-DETAIL **/

    /*** La parte donde se va viendo el subtotal de la compra ***/
    .detailContainer {
        width: 60%;
    }

    /*La parte del detalle*/
    .OrderSummaryContainer {
        width: 35%;
        min-height: 580px;
    }

    .itemDetailsHeader h4 {
        width: 25%;
        font-size: 20px;
    }
    .itemDetails h5 {
        font-size: 18px;
        margin-left: 6px;
    }

    .icon-trash {
        font-size: 22px;
    }

    /*--------------*/
    .titleContainer {
        height: 15%;
    }

    .DiscountContainer {
        height: 25%;
    }
    .postalCodeContainer {
        height: 20%;
    }

    .priceContainer {
        height: 20%;
    }

    .postalCodeContainer > input {
        width: 90%;
        margin: 0 auto;
    }

    .postalCodeContainer > button {
        width: 90%;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .DiscountContainer > input {
        width: 90%;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .DiscountContainer > button {
        width: 90%;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    /*Contenedor de la Orden de Compra*/
    .OrderContainer {
        height: 60%;
    }

    /*Contenedor de los botones*/
    .btnBuyContainer {
        height: 40%;
    }

    /*Botones de Quitar todos los productos y Comprar*/
    .btnClear,
    .btnBuy {
        width: 90%;
        height: 35px;
    }

    /* precios y descuentos */
    .prices > h3 {
        font-size: 22px;
    }
    .prices > h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 576px) {
    /** ITEM-LIST **/
    .dataProduct-container {
        width: 80%;
    }

    /** PRODUCT-DETAIL **/

    .Detail-info h4 {
        /*padding-left: 0;*/
        font-size: 18px;
    }

    .Detail-info p {
        padding-left: 25px;
        font-size: 16px;
    }

    /** CART-DETAIL **/
    .itemDetailsHeader h4 {
        width: 25%;
        font-size: 18px;
    }
    .itemDetails h5 {
        font-size: 16px;
    }

    .icon-trash {
        font-size: 20px;
    }

    .postalCodeContainer > input {
        font-size: 14px;
    }

    .DiscountContainer > input {
        font-size: 14px;
    }

    /* precios y descuentos */
    .prices > h3 {
        font-size: 20px;
    }
    .prices > h4 {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    /** PRODUCT-DETAIL **/

    .Detail-info h4 {
        font-size: 16px;
    }

    .Detail-info p {
        font-size: 14px;
        padding-left: 40px;
    }

    /* Botón "Volver" y "Agregar" */
    .button-ComeBack,
    .button-AddCart {
        /*margin-top: 30px;*/
        width: 80%;
    }

    /** CART-DETAIL **/
    .itemDetailsHeader h4 {
        width: 25%;
        font-size: 13px;
    }
    .itemDetails h5 {
        font-size: 11px;
    }

    .icon-trash {
        margin: 0;
        padding: 11px;
        font-size: 16px;
    }

    .postalCodeContainer > input {
        font-size: 10px;
    }

    .DiscountContainer > input {
        font-size: 10px;
    }

    /* precios y descuentos */
    .prices > h3 {
        font-size: 18px;
    }
    .prices > h4 {
        font-size: 16px;
    }
}

@media screen and (max-width: 370px) {
    /** ITEM-LIST **/
    .dataProduct-container {
        width: 90%;
        min-height: 400px;
    }

    /** ITEM **/
    .product-detail button span {
        font-size: 16px;
        font-weight: 600;
        padding: 6px;
    }

    /** PRODUCT-DETAIL **/

    .Detail-info-Container {
        height: 80%;
    }

    .Detail-info h4 {
        font-size: 14px;
    }

    .Detail-info p {
        font-size: 12px;
    }

    .buttons-detail {
        margin-top: -20px;
        margin-bottom: 0;
    }

    /* Botón "Volver" y "Agregar" */
    .button-ComeBack,
    .button-AddCart {
        font-size: 11px;
    }

    .button-AddCart {
        margin-top: 9px;
    }

    /** CART-DETAIL **/

    /*La parte del detalle*/
    .itemDetailsHeader h4 {
        font-size: 11px;
    }
    .itemDetails h5 {
        font-size: 9px;
    }

    .icon-trash {
        margin-left: 5px;
        padding: 8px;
        font-size: 14px;
    }

    /*** Precios y Descuentos ***/
    .OrderSummaryContainer {
        min-height: 720px;
    }

    .postalCodeContainer > input {
        font-size: 8px;
    }

    .DiscountContainer > input {
        font-size: 8px;
    }
}

@media screen and (max-width: 300px) {
    /** PRODUCT-DETAIL **/

    .Detail-info h4 {
        font-size: 12px;
    }

    .Detail-info p {
        font-size: 10px;
    }

    .itemCountDetailContainer {
        margin-top: 12px;
    }

    /** CART-DETAIL **/
    .icon-trash {
        margin-left: 3px;
        padding: 8px;
        font-size: 12px;
    }

    /*La parte del detalle*/
    .itemDetailsHeader h4 {
        font-size: 9px;
    }
    .itemDetails h5 {
        font-size: 7px;
    }
}

@media screen and (max-width: 250px) {
    /** ITEM **/
    .product-description p {
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        /*margin-top: -4px;*/
    }

    /** PRODUCT-DETAIL **/
    .Detail-info-Container {
        height: 80%;
    }

    .Detail-info h4 {
        font-size: 12px;
    }

    .Detail-info p {
        font-size: 10px;
    }
}
