* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables*/
:root {
    --primaryColor: #4c98df;
    --secondaryColor: #5bb669;
    --fontColorGeneral: #ffffff;
    --fontColorBlack: #000000;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

h1 {
    padding-top: 10px;
    color: var(--primaryColor); /*Azul*/
    font-family: "Roboto";
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

/* ------ flecha para volver arriba ------ */
.back-to-top {
    position: fixed;
    display: inline;
    width: 54px;
    height: 54px;
    border-radius: 26px;
    right: 15px;
    bottom: 30px;
    background: var(--secondaryColor);
    transition: display 0.5s ease-in-out;
    z-index: 994;
}

.back-to-top > i {
    font-size: 30px;
    position: absolute;
    /*top: 6px;*/
    left: 7px;
}

.arrow-up {
    height: 40px;
}

/*********************************
********** MEDIA QUERYS **********
*********************************/

@media screen and (max-width: 992px) {
    /** ITEM-LIST **/
    .dataProduct-container {
        width: 40%;
    }

    /** PRODUCT-DETAIL **/

    .Detail-info-Container {
        width: 70%;
        margin-bottom: 20px;
    }

    .Detail-photo-Container {
        width: 70%;
        margin-top: 20px;
    }

    /* Botón "Volver"*/
    .button-ComeBack,
    .button-AddCart {
        /*margin-top: 30px;*/
        width: 40%;
    }

    /** CART-DETAIL **/

    /*Contenedor de la Orden de Compra*/
    .OrderContainer {
        height: 70%;
    }

    /*Contenedor de los botones*/
    .btnBuyContainer {
        height: 30%;
    }

    /*Botones de Quitar todos los productos y Comprar*/
    .btnClear,
    .btnBuy {
        width: 80%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 768px) {
    /** ITEM-LIST **/
    .dataProduct-container {
        width: 45%;
    }

    /** PRODUCT-DETAIL **/

    .Detail-info h4 {
        font-size: 20px;
    }

    .Detail-info p {
        font-size: 18px;
    }

    /* Botón "Volver"*/
    .button-ComeBack,
    .button-AddCart {
        /*margin-top: 30px;*/
        /*width: 55%;*/
        width: 60%;
        padding: 4px 0;
    }
    .button-AddCart {
        margin-top: 20px;
    }
}

@media screen and (max-width: 576px) {
    /** ITEM-LIST **/
    .dataProduct-container {
        width: 80%;
    }

    /** PRODUCT-DETAIL **/

    .Detail-info h4 {
        /*padding-left: 0;*/
        font-size: 18px;
    }

    .Detail-info p {
        padding-left: 25px;
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    /** PRODUCT-DETAIL **/

    .Detail-info h4 {
        font-size: 16px;
    }

    .Detail-info p {
        font-size: 14px;
        padding-left: 35px;
    }

    /* Botón "Volver" y "Agregar" */
    .button-ComeBack,
    .button-AddCart {
        /*margin-top: 30px;*/
        width: 80%;
    }
}

@media screen and (max-width: 370px) {
    /** ITEM-LIST **/
    .dataProduct-container {
        width: 90%;
        min-height: 400px;
    }

    /** ITEM **/
    .product-detail button span {
        font-size: 16px;
        font-weight: 600;
        padding: 6px;
    }

    /** PRODUCT-DETAIL **/

    .itemCountDetailContainer {
        margin-top: 12px;
    }

    .Detail-info-Container {
        height: 100%;
    }

    .Detail-info h4 {
        font-size: 14px;
    }

    .Detail-info p {
        font-size: 12px;
    }

    .buttons-detail {
        margin-top: -20px;
    }

    /* Botón "Volver" y "Agregar" */
    .button-ComeBack,
    .button-AddCart {
        font-size: 14px;
    }

    .button-AddCart {
        margin-top: 12px;
    }
}

@media screen and (max-width: 300px) {
    /** PRODUCT-DETAIL **/

    .Detail-info h4 {
        font-size: 12px;
    }

    .Detail-info p {
        font-size: 10px;
    }

    .itemCountDetailContainer {
        margin-top: 12px;
    }
}

@media screen and (max-width: 250px) {
    /** ITEM **/
    .product-description p {
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        /*margin-top: -4px;*/
    }

    /** PRODUCT-DETAIL **/
    .Detail-info-Container {
        height: 80%;
    }

    .Detail-info h4 {
        font-size: 12px;
    }

    .Detail-info p {
        font-size: 10px;
    }
}
