.CartDetailContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    min-height: 500px;
    margin-top: 30px;
    margin-bottom: 20px;
    /*border: 1px solid red;*/
}

/*La parte del detalle*/
.detailContainer {
    width: 65%;
    border: 2px solid var(--secondaryColor); /*Verde*/
    box-shadow: 4px 4px 8px #888888;
    border-bottom: 0;
    border-right: 0;
    border-radius: 6px;
}

.itemDetailsHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #000000;
    padding-top: 10px;
    border-bottom: 1px solid;
    border-bottom-color: #888888;
}

.itemDetailsHeader h4 {
    width: 25%;
}

.itemDetailsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100px;
    justify-content: space-evenly;
    padding-top: 10px;
    border-bottom: 1px solid;
    border-bottom-color: #888888;
}

.itemDetails {
    width: 25%;
    height: auto;
    /*border: 1px solid blue;*/
}

.itemDetails h5 {
    /*display: inline-block;*/
    color: var(--primaryColor); /*Azul*/
    margin-top: 20%;
}

.itemDetails > .name-product {
    margin-top: 0;
}

/*Imágen del producto*/
.itemImage {
    width: 50%;
    height: auto;
}

/* Botón "Quitar Producto" 
.buttonDelete {
    padding: 12px;
    margin: 10px;
    font-weight: 600;
    border-radius: 50%;
}
*/

.icon-trash {
    background-color: var(--secondaryColor); /*Verde*/
    color: #ffffff;
    margin: 10px;
    padding: 12px;
    border-radius: 50%;
    font-size: 25px;
    border: 1px solid #000000;
}

.icon-trash:hover {
    cursor: pointer;
    background-color: var(--primaryColor); /*Azul*/
}

/*** La parte donde se va viendo el subtotal de la compra ***/
.OrderSummaryContainer {
    width: 30%;
    border: 2px solid var(--secondaryColor); /*Verde*/
    box-shadow: 4px 4px 8px #888888;
    border-bottom: 0;
    border-right: 0;
    border-radius: 6px;
}

.OrderContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 75%;
    background-color: bisque;
    /*border: 1px solid red;*/
}

/*Div del h2 --> Dentro de OrderContainer*/
.titleContainer {
    height: 15%;
    background-color: bisque;
    border-radius: 6px;
}

/*Código Postal --> Dentro de OrderContainer*/
.postalCodeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 20%;
    /*background-color: aquamarine;*/
}

.postalCodeContainer > input {
    height: 35px;
    width: 45%;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
}

.postalCodeContainer > input:focus {
    outline: transparent; /*Quitamos el borde negro al hacer foco*/
    border: 2px solid var(--secondaryColor);
}

.postalCodeContainer > button {
    height: 35px;
    width: 35%;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 6px;
    color: #ffffff;
    background-color: var(--secondaryColor); /*Azul*/
    box-shadow: 4px 4px 8px #888888;
}

.postalCodeContainer > button:hover,
.discountContainer > button:hover {
    font-weight: 600;
}
/*------------------------------------------------------------*/

/*Cupones de descuento --> Dentro de OrderContainer*/
.discountContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 20%;
    /*background-color: crimson;*/
}

.discountContainer > input {
    height: 35px;
    width: 45%;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    border-radius: 6px;
    border-style: dashed;
    text-transform: uppercase;
}

.discountContainer > input:focus {
    outline: transparent; /*Quitamos el borde negro al hacer foco*/
    border: 2px dashed var(--secondaryColor);
}

.discountContainer > button {
    height: 35px;
    width: 35%;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 6px;
    color: #ffffff;
    background-color: var(--secondaryColor); /*Azul*/
    box-shadow: 4px 4px 8px #888888;
}
/*------------------------------------------------------------*/

/*Importes --> Dentro de OrderContainer*/
.priceContainer {
    height: 30%;
    text-align: left;
}

.prices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: 1px solid;
    border-bottom-color: #888888;
    background-color: bisque;
}

.prices > h3 {
    color: var(--secondaryColor);
}

/*** BOTONES "Borrar Todo" y "Finalizar Compra" ***/

.btnBuyContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-end; /*center;*/
    height: 20%;
}

/*Quitar todos los productos*/
.btnClear {
    width: 45%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    color: #ffffff;
    background-color: var(--primaryColor); /*Azul*/
    box-shadow: 4px 4px 8px #888888;
}
.btnClear:hover {
    background-color: var(--secondaryColor);
}

/*Finalizar la compra*/
.btnBuy {
    width: 45%;
    height: 40px;
    font-size: 16px;
    /*padding: 10px 26px;*/
    border-radius: 6px;
    font-weight: 600;
    /*margin-top: 30px;*/
    background-color: var(--primaryColor); /*Azul*/
    color: #ffffff;
    box-shadow: 4px 4px 8px #888888;
}
.btnBuy:hover {
    background-color: var(--secondaryColor);
}
